.App {
  text-align: center;
}

.favEmpty{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.linkStyle{
  text-decoration: none;
  color: #fff;
}



.container{
  padding: 15px 20px
}

